@tailwind base;
@tailwind components;
@tailwind utilities;

/* Outfit font */
@font-face {
  font-family: "Outfit";
  src: url("./assets/fonts/Outfit/static/Outfit-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Outfit";
  src: url("./assets/fonts/Outfit/static/Outfit-SemiBold.ttf")
    format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Outfit";
  src: url("./assets/fonts/Outfit/static/Outfit-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* RobotoSlab font */
@font-face {
  font-family: "Roboto Slab";
  src: url("./assets/fonts/Roboto_Slab/static/RobotoSlab-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

@layer base {
  /* Apply font by default */
  body {
    font-family: "Outfit", system-ui, sans-serif;
  }

  /* Hide controllers on input type number */
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  /* For Firefox */
  input[type="number"] {
    appearance: textfield;
  }
}
